:root {
  --fondo: #faf5f0;
}
body {
  background: var(--fondo);
  color: #3c3a2d;
  text-align: center;
}

.Navbar {
  margin-top: 48px;
  margin-left: 50px;
  text-align: center;
  max-width: 1280px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Forms {
  font-size: 25px;
  margin-top: 50px;
}

.form-item {
  margin-bottom: 20px;
  position: relative;
}

.form-item input,
.form-item select {
  width: 500px;
  padding: 15px;
  font-size: 16px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.clickable-image {
  cursor: pointer;
  transition: opacity 0.3s;
}

.clickable-image:hover {
  opacity: 0.7;
}

.clicked {
  opacity: 0.4;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.visible {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

button[type="button"]:hover {
  background-color: #0056b3;
}
